@import url(functions.less);

body{
	font-family:arial,helvetica,sans-serif;
	font-size:11px;

}
header{
	background-image:url(../images/logo.png);
	width:363px;
	height:144px;
	span{
		display:none;
	}
}

nav{
	position:absolute;
	z-index:20;
	overflow:none;
	ul{
		list-style-type: none;
		li{
			float: left;
			margin-left: 50px;
			margin-top:5px;
			a{
				
				color: #000;
				text-decoration: none;
				/*font-weight:bold;*/
				font-size:14px;
				&:hover{
					color:#264bd9;
				}
			
			}
		}
	}

}
#content{
	position:relative;
	top:-2px;
	background-image:url(../images/graphoart-bg.png);
	width:1276px;
	height:390px;
}

#topnav{
	left:310px;
	top:110px;
	width:1000px;
}

#bottomnav{
	position:relative;
	margin-top:30px;
	padding-left:340px;
	left:0px;
	background-color:#c9c9c9;
	height:63px;
	width:1276px;
	padding-top:10px;
	text-align:right;
	ul{
		
		li{
			
			margin-left: 30px;
		
			
		}
	}
}



#content nav{
	position:absolute;
	top:0px;
	left:100px;
	width:200px;
	height:100%;
	color:#fff;
	
	ul{
		list-style-type: none;
		text-align: right;
		
		li{
			
			a{
				color:#fff;
			}
		}
	}
}

#content article{
	position:absolute;
}

footer{
	background-image: url(../images/line.png);
	background-repeat:no-repeat;
	margin-top:20px;
	width:400px;
	height:200px;
	padding-top:30px;
	text-align:center;
}